.projects {
 display: flex;
 flex-direction: column;
 gap: 28px;
 padding: 0;
}

.block{
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.heading{
 padding: 0 5vw;
}


@media screen and (min-width: 768px) {
 .projects{
  padding: 0 5vw;
 }

 .heading{
  padding: 0;
 }
 .block{
  justify-content: center;
  align-items: center;
 }
}


