.projects {
 display: flex;
 flex-direction: column;
 gap: 28px;
 padding: 0;
}

.block{
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.heading{
 padding: 0 5vw;
}

.caption{
 font-family: var(--caption-ff);
 font-size: var(--caption-fs);
 line-height: var(--caption-lh);
 font-weight: var(--caption-fw);
 color: var(--dark-grey)
}

@media screen and (min-width: 768px) {
 .projects{
  padding: 0 5vw;
 }

 .heading{
  padding: 0;
 }
 .block{
  justify-content: center;
  align-items: center;
 }
}


