.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hero__intro {
  width: 100%;
  padding: 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

.hero__intro h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transform: translateX(-100%);
  transition: transform 2s ease-out;
}

.hero__intro h1.active {
  transform: translateX(0);
}

.hero__intro span {
  font-weight: 600;
  color: rgba(187,132,232,1);
}

.hero__intro p {
  font-size: 16px;
  font-weight: 500;
  transform: translateX(100%);
  transition: transform 2s ease-out;
}

.hero__intro p.active {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .hero__intro {
    width: 75%;
    padding-left: 10px;
    gap: 5px;
    margin-top: 0px;
  }

  .hero__intro h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__intro {
    width: 60%;
    padding-left: 10px;
  }

  .hero__intro h1 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    justify-content: space-evenly;
    gap: 120px;
  }

  .hero__intro {
    width: 40%;
    padding-left: 0;
  }
}
