.container {
 padding-top: 10px;
 padding-bottom: 80px;
}

.about {
 display: flex;
 flex-direction: column;
}

.icon {
 align-self: center;
}

.about h2 {
 color: var(--blue);
 font-family: var(--h2-mob-ff);
 font-size: var(--h2-mob-fs);
 font-weight: var(--h2-mob-fw);
 text-transform: uppercase;
 text-align: right;
}

.hidden {
 transform: translateX(-100%);
 opacity: 0;
}

.visible {
 transform: translateX(0);
 opacity: 1;
 transition: transform 3s, opacity 3s;
}

.info {
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.image {
 border-radius: 8px;
 position: relative;
 width: 100%;
 height: 70%;
}

.image img {
 border-radius: 8px;
}

.image::after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 background: linear-gradient(0deg, #BB84E8 0%, #BB84E8 100%), lightgray 50% / cover no-repeat;
 width: 100%;
 height: 100%;
 opacity: .5;
 border-radius: 8px;
}

.text {
 color: var(--grey, #DEE1E6);
 font-family: var(--body-text-mob-ff);
 font-size: var(--body-text-mob-fs);
 font-style: normal;
 font-weight: var(--body-text-mob-fw);
 line-height: var(--body-text-mob-lh);
}


@media screen and (min-width: 768px) {
 .container {
  padding-top: 60px;
  padding-bottom: 100px;
 }

 .about {
  justify-content: space-between;
 }

 .about h2 {
  font-size: 80px;
 }


 .info {
  align-items: center;
  gap: 40px;
 }

 .image {
  width: 412px;
  height: 419px;
 }

 .image img {
  height: 419px;
 }

 .image::after {
  height: 419px;
 }

}

@media screen and (min-width: 1024px) {
 .container {
  padding-top: 20px;
  padding-bottom: 160px;
 }

 .about {
  flex-direction: row;
 }

 .hidden {
  transform: translateX(100%);
  opacity: 0;
 }

 .visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 3s, opacity 3s;
 }

 .about h2 {
  font-family: var(--h2-desc-ff);
  font-size: 135px;
  font-weight: var(--h2-desc-fw);
  text-transform: uppercase;
  text-align: right;
 }

 .info {
  align-items: center;

  flex-direction: row;
  margin-top: 30px;
  gap: 100px;
 }

 .image {
  width: 612px;
  height: 519px;
 }

 .image img {
  height: 519px;
 }

 .image::after {
  height: 519px;
 }

 .text {
  font-size: var(--body-text-desc-fs);
  font-style: normal;
  font-weight: var(--body-text-desc-fw);
  line-height: var(--body-text-desc-lh);
  width: 500px;
 }

}

@media screen and (min-width: 1280px) {
 .about h2 {
  font-size: var(--h2-desc-fs);
 }

 .info {
  flex-direction: row;
  margin-top: 30px;
  gap: 200px;

 }


 .text {
  width: 500px;
 }
}
