.cube-container {
 perspective: 1500px;
 width: 250px;
 height: 250px;
 display: none;
 float: left;
}

.cube {
 position: relative;
 transform-style: preserve-3d;
 animation: rotateCube 10s infinite linear;
}

.face {
 position: absolute;
 background: var(--dark-violet);
 border: 1px solid rgba(106, 4, 170, 1);
 display: flex;
 align-items: center;
 justify-content: center;
}

@keyframes rotateCube {
 from {
  transform: rotate3d(1, 1, 0, 0deg);
 }
 to {
  transform: rotate3d(1, 1, 0, 360deg);
 }
}

@media screen and (min-width: 768px) {
 .cube-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  float: right;
 }

 .cubeIntersect {
  perspective: 1500px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cube {
  width: 120px;
  height: 120px;

 }

 .face {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 26px rgba(106, 4, 170, 0.8);
 }

 .faceScale {
  position: absolute;
  background: var(--dark-violet);
  border: 1px solid rgba(106, 4, 170, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 26px rgba(106, 4, 170, 0.8);
 }

 .react {
  transform: rotateY(0deg) translateZ(40px);
 }

 .reactScale {
  transform: rotateY(0deg) translateZ(80px);
 }

 .typescript {
  transform: rotateY(180deg) translateZ(40px);
 }

 .typescriptScale {
  transform: rotateY(180deg) translateZ(80px);
 }

 .js {
  transform: rotateY(-90deg) translateZ(40px);
 }

 .jsScale {
  transform: rotateY(-90deg) translateZ(80px);
 }

 .css {
  transform: rotateY(90deg) translateZ(40px);
 }

 .cssScale {
  transform: rotateY(90deg) translateZ(80px);
 }

 .jest {
  transform: rotateX(90deg) translateZ(40px);
 }

 .jestScale {
  transform: rotateX(90deg) translateZ(80px);
 }

 .git {
  transform: rotateX(-90deg) translateZ(40px);
 }

 .gitScale {
  transform: rotateX(-90deg) translateZ(80px);
 }
}

@media screen and (min-width: 1024px) {
 .cube {
  width: 170px;
  height: 170px;
 }

 .face {
  width: 170px;
  height: 170px;
 }

 .react {
  transform: rotateY(0deg) translateZ(100px);
 }

 .typescript {
  transform: rotateY(180deg) translateZ(100px);
 }

 .js {
  transform: rotateY(-90deg) translateZ(100px);
 }

 .css {
  transform: rotateY(90deg) translateZ(100px);
 }

 .jest {
  transform: rotateX(90deg) translateZ(100px);
 }

 .git {
  transform: rotateX(-90deg) translateZ(100px);
 }
}

@media screen and (min-width: 1440px) {

 .cube-container {
  margin-right: 4vw;
 }

 .cube {
  width: 230px;
  height: 230px;
 }

 .face {
  width: 230px;
  height: 230px;
 }

 .react {
  transform: rotateY(0deg) translateZ(130px);
 }

 .typescript {
  transform: rotateY(180deg) translateZ(130px);
 }

 .js {
  transform: rotateY(-90deg) translateZ(130px);
 }

 .css {
  transform: rotateY(90deg) translateZ(130px);
 }

 .jest {
  transform: rotateX(90deg) translateZ(130px);
 }

 .git {
  transform: rotateX(-90deg) translateZ(130px);
 }
}
