.cube-container {
 perspective: 1500px;
 width: 250px;
 height: 250px;
 float: left;
}

.cube {
 position: relative;
 transform-style: preserve-3d;
 animation: rotateCube 10s infinite linear;
}

.face {
 position: absolute;
 background: var(--dark-violet);
 border: 1px solid rgba(106, 4, 170, 1);
 display: flex;
 align-items: center;
 justify-content: center;
}

@keyframes rotateCube {
 from {
  transform: rotate3d(1, 1, 0, 0deg);
 }
 to {
  transform: rotate3d(1, 1, 0, 360deg);
 }
}

@media screen and (min-width: 768px) {
 .cube-container {
  display: flex;
  justify-content: flex-end;
  transition: all 2s ease-in-out;
 }
 .cubeIntersect {
  perspective: 1500px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease;
 }

 .cube {
  width: 120px;
  height: 120px;
 }

 .face {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 26px rgba(106, 4, 170, 0.8);
 }

 .faceScale {
  position: absolute;
  background: var(--dark-violet);
  border: 1px solid rgba(106, 4, 170, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 26px rgba(106, 4, 170, 0.8);
 }

 .react {
  transform: rotateY(0deg) translateZ(40px);
 }

 .reactScale {
  transform: rotateY(0deg) translateZ(80px);
 }

 .typescript {
  transform: rotateY(180deg) translateZ(40px);
 }

 .typescriptScale {
  transform: rotateY(180deg) translateZ(80px);
 }

 .js {
  transform: rotateY(-90deg) translateZ(40px);
 }

 .jsScale {
  transform: rotateY(-90deg) translateZ(80px);
 }

 .css {
  transform: rotateY(90deg) translateZ(40px);
 }

 .cssScale {
  transform: rotateY(90deg) translateZ(80px);
 }

 .jest {
  transform: rotateX(90deg) translateZ(40px);
 }

 .jestScale {
  transform: rotateX(90deg) translateZ(80px);
 }

 .git {
  transform: rotateX(-90deg) translateZ(40px);
 }

 .gitScale {
  transform: rotateX(-90deg) translateZ(80px);
 }

}

@media screen and (min-width: 1024px) {

 .cubeIntersect {
  width: 350px;
  height: 350px;
 }

 .cube{
  width: 150px;
  height: 150px;
 }

 .faceScale {
  width: 190px;
  height: 190px;
 }

 .reactScale {
  transform: rotateY(0deg) translateZ(110px);
 }

 .typescriptScale {
  transform: rotateY(180deg) translateZ(110px);
 }

 .jsScale {
  transform: rotateY(-90deg) translateZ(110px);
 }

 .cssScale {
  transform: rotateY(90deg) translateZ(110px);
 }

 .jestScale {
  transform: rotateX(90deg) translateZ(110px);
 }

 .gitScale {
  transform: rotateX(-90deg) translateZ(110px);
 }
}

@media screen and (min-width: 1440px) {
 .cubeIntersect {
  width: 350px;
  height: 350px;
 }


 .faceScale {
  width: 240px;
  height: 240px;
 }

 .reactScale {
  transform: rotateY(0deg) translateZ(140px);
 }

 .typescriptScale {
  transform: rotateY(180deg) translateZ(140px);
 }

 .jsScale {
  transform: rotateY(-90deg) translateZ(140px);
 }

 .cssScale {
  transform: rotateY(90deg) translateZ(140px);
 }

 .jestScale {
  transform: rotateX(90deg) translateZ(140px);
 }

 .gitScale {
  transform: rotateX(-90deg) translateZ(140px);
 }
}
