.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 15px;
  justify-content: space-between;
}

.header img{
  width: 44px;
}

.checkbox {
  display: none;
}

.button {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  background: rgb(5, 8, 22);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover,
.link:active {
  color: rgba(187, 132, 232, 1);
  cursor: pointer;
}

.checkbox:checked ~ .background {
  opacity: 1;
  transform: scale(80);
}

.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 2rem;
  height: 2px;
  background-color: rgba(187, 132, 232, 1);
  display: inline-block;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}

.icon::after {
  top: 0.8rem;
}

.button:hover .icon:before {
  top: -1rem;
}

.button:hover .icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .menu > li a{
    transition: transform 0.5s ease-in-out;
  }
  .menu > li a:hover{
    transform: scale(1.2);
    text-decoration: underline;
  }


}

@media screen and (min-width: 1024px) {
  .menu > li a{
    font-size: 20px;
  }

}

@media screen and (min-width: 1440px) {
  .menu > li a{
    font-size: 22px;
  }

  .header img{
    width: 48px;
  }
}
