.link{
 border-radius: 4px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 115px;
 height: 44px;
 color: var(--violet, #BB84E8);
 font-family: var(--btn-text-ff);
 font-size: var(--btn-text-fs);
 font-weight: var(--btn-text-fw);
 line-height: var(--btn-text-lh);
}

.primary{
 border: 1px solid var(--violet, #BB84E8);
 color: var(--violet, #BB84E8);
 transition: color .5s;
 position: relative;
 overflow: hidden;
 z-index: 1;
}

.primary:after {
 content: "";
 position: absolute;
 background: var(--violet, #BB84E8);
 height: 200px;
 width: 200px;
 top: 0;
 left: 0;
 transform: scale(0);
 border-radius: 0 50% 50% 50%;
 transition: transform 1s ease-out;
 transform-origin: top left;
 z-index: -1;
}

.primary:hover {
 color: var(--black, #121212);;
}

.primary:hover:after {
 transform: scale(1);
}


.secondary{
 transition: all 1s ease-in-out;
}

.secondary:hover{
 color: var(--grey, #DEE1E6);
 transition: all 1s ease-in-out;
}

