body {
  background: rgb(5, 8, 22);
  color: white;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  padding: 0 15px;
}

.wrapper {
  background-image: url('assets/img/herobg.webp');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .container {
    width: 920px;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1340px;
  }
}
