body {
 background: rgb(5, 8, 22);
 color: white;
 overflow-x: hidden;
}

.container {
 padding: 0 5vw;
 max-width: 1440px;
 margin: auto;
}

.wrapper {
 background-image: url('assets/img/herobg.webp');
 background-size: cover;
 height: 100vh;
}

