.actionBar{
 position: fixed;
 top: 35vh;
 right: 0;
 z-index: 10;

}

.action{
 width: 45px;
 height: 45px;
 display: flex;
 justify-content: center;
 align-items: center;
}


.gradientIcon {
 background: linear-gradient(0deg, #4be1ec, #BB84E8);
 -webkit-background-clip: text;
}
